<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>mapblog</title>
        <meta charset="utf-8"/>
        {% load staticfiles %}
        <link rel="shortcut icon"type="image/x-icon" href="{% static 'img/logo.ico' %}"media="screen" />
		<link rel="stylesheet" href="{% static 'css/map.css' %}" type="text/css" />

		<script language="javascript" src="http://webapi.amap.com/maps?v=1.2&key=e5e55830541d0156b5d514b884dd9db1"></script>
		<script language="JavaScript" src="{% static 'js/jquery-latest.js' %}"></script>
		<script language="JavaScript" src="{% static 'js/main_page.js' %}"></script>
		<script language="JavaScript" src="{% static 'js/mapblog.js' %}"></script>
		<script>
			 // 初始化地图
			function initialize() {
				var mapObj = new AMap.Map("map_container"); // 创建地图实例
				var point = new AMap.LngLat(116.404, 39.915); // 创建点坐标
				//mapObj.setCenter(point); // 设置地图中心点坐标
				getCurrenrPOS();
			}
		</script>

	</head>

	<body onLoad="initialize()" id=home style="background-color: #389DB8;">
		<div id="container">
			<a onclick="showFriendList()">
				<img id="showButton" src="{% static 'img/open.png' %}" />
			</a>
			<div id="friend_list" style="display: none;">
				<input type="button" onclick="newBlog()" value="New Blog" class="button_orange" style="float:left;size: initial;" />
				<a onclick="hideFriendList()">
					<img id="closeButton" src="{% static 'img/close2.png' %}" style="display: none;">
				</a>
				<ul id="list_fix">
					<li id="list_info">
						<img class="list_head" src="{% static 'img/login.png' %}" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;Joeeeee</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 1分钟前</span>
					</li>
					<br>
					<li id="list_info">
						<img class="list_head" src="img/close2.png" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;梁展豪豪豪豪</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 30分钟前</span>
					</li>
					<br>
					<li id="list_info">
						<img class="list_head" src="img/close.png" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;LiangLLLLLLLL</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 1小时前</span>
					</li>
					<br>
					<li id="list_info">
						<img class="list_head" src="img/login.png" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;Aaaaaaron</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 2小时前</span>
					</li>
					<br>
					<li id="list_info">
						<img class="list_head" src="img/login3.png" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;LiuYYYYYYHHHHHH</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 3小时前</span>
					</li>
					<br>
					<li id="list_info">
						<img class="list_head" src="img/subscribe2.jpg" />
						<span style="display: inline-block; font-size: 14px;">&nbsp;HJHJHJHHJHJHJHJHJ</span>
						<br>
						<span style="position: relative; top: 5px; font-size: 14px;">&nbsp;最后更新时间: 4小时前</span>
					</li>
				</ul>
			</div>
			<div id="new_blog">
				<textarea id="editor"></textarea>
				<input type="button" onclick="sendblog()" value="发送" id="blog_send"/>
			</div>
		</div>

		<div id="map_container" style="box-shadow: 0 0 33px rgba(0, 0, 0, 0.7);"/>
			
		</div>

	</body>

</html>