<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Welcome to Mapblog</title>
		
		{% load staticfiles %}
		<link rel="shortcut icon"type="image/x-icon" href="{% static 'img/logo.ico' %}"media="screen" />
		<style type="text/css">
		
			body{margin:0px;}
			
			.bg {
				/*background-image: url(images/login.png);*/
				width: 73%;
				margin-top: 8%;
				z-index: 0;
			}
			
			.content {position: absolute;
						background-color:#FFFFFC; 
						height:140px;
						width:320px;
						/*right:200px; 
						top:200px; */
						top: 16%;
						right: 4%;
						border-radius: 10px;
						z-index: 0;
						}

		</style>
		
	</head>

	<body style="background-color: #899095;">
		<img class="bg" src="{% static 'img/logingrey3.png' %}" />
		<div id="login" class="content">
			<form action="/blog/sign_in" method="post" enctype="multipart/form-data" name="login">
				{%csrf_token%}
				<table style="background-color: CEF0FB;">
					<tr>
						<td width="224">&nbsp;</td>
					</tr>
					<tr>
						<td height="30">
							<input name="username" placeholder="Phone or username" type="text" style="width:287px; height:30px; margin-left: 10px; font-size: 15px;" />
						</td>
					</tr>
					<tr>
						<td height="80">
							<input name="password" type="password" placeholder="Password" style="width:205px; height:30px; margin-left: 10px; font-size: 15px;" />
							<input type="submit" value="Log in" style="width: 75px; height: 35px; border-radius: 5px;background-color: #55acee;border-color: #3b88c3;border-width: 1px;color: #ffffff;font-size: 16px;font-weight:bold;" />
						</td>
					</tr>
					<!--<tr>
						<td height="30">
							<a href="#">
								<input type="button" value="Sign up" style="width: 100px; height: 33px;">
							</a>
						</td>
					</tr>-->
				</table>

			</form>

		</div>
		
		<div id="register" class="content" style="margin-top: 13%; height: 260px;">
			<form action="/blog/sign_in" method="post" enctype="multipart/form-data" name="login">
				{%csrf_token%}
				<table style="background-color: CEF0FB;">
					<tr style="height: 53px;">
						<td style="border-bottom: 1px solid #e1e8ed;"><span style="margin-left: 10px; font-size: 22px; font-weight: bold; font-family: helvetica;">New to Mapblog? </span><span style="font-size: 22px; font-weight: 300; font-family: helvetica; color: #66757f;">Sign up</span></td>
					</tr>
					<tr>
						<td style="padding-top: 10px;">
							<input name="username" placeholder="Full Name" type="text" style="width:285px; height:30px; margin-left: 10px; font-size: 15px;" />
						</td>
					</tr>
					
					<tr>
						<td style="padding-top: 5px;">
							<input name="password" type="text" placeholder="Phone" style="width:285px; height:30px; margin-left: 10px; font-size: 15px;" />
						</td>
					</tr>
					
					<tr>
						<td style="padding-top: 5px;"> 
							<input name="password" type="password" placeholder="Password" style="width:285px; height:30px; margin-left: 10px; font-size: 15px;" />
							<!--<input type="submit" value="Log in" style="width: 75px; height: 35px; border-radius: 5px;background-color: #55acee;border-color: #3b88c3;border-width: 1px;color: #ffffff;font-size: 16px;font-weight:bold;" />-->
						</td>
					</tr>
					<tr>
						<td style="padding-top: 10px; right: 20px;">
							<input type="submit" value="Sign up for Mapblog" style="position: relative; left: 128px; width: auto; height: 35px; border-radius: 5px;background-color: #FFCF18; border-color: #ec8b11;border-width: 1px; color: #292f33;font-size: 16px;font-weight:bold;" />
						</td>
					</tr>
				</table>

			</form>

		</div>
		
		
	</body>

</html>